<!--The content below is only a placeholder and can be replaced.-->
<div class="box">
    <div class="content-section introduction">
        <div>
            <p class="feature-title">primeNG表格控件和firstTable表格控件</p>
            <br>
            <span>
                primeNG 表格控件更注重操作外观，可操作性(可配性)，自定义等！
               <span style="color:green"> 注：单选后需要按住 ctrl + 选中行 才可取消选中</span>
            </span>
            <br>
            <br>
            <span>
                firstTbale 表格控件更注重迭代更新。
            </span>
        </div>
    </div>   
    <basic-example></basic-example>
</div>